In [2]:
import pandas as pd

df = pd.read_csv("troop_movements.csv")
display(df)

,timestamp,unit_id,unit_type,empire_or_resistance,location_x,location_y,destination_x,destination_y,homeworld
0,2024-05-21 13:01:20,1,at-st,resistance,3,5,3,3,Champala
1,2024-05-21 13:01:19,2,unknown,resistance,7,8,1,6,Dathomir
2,2024-05-21 13:01:18,3,tie_silencer,empire,9,7,5,6,Mon Cala
3,2024-05-21 13:01:17,4,tie_fighter,empire,5,3,10,9,Cerea
4,2024-05-21 13:01:16,5,at-st,empire,6,3,9,9,Toydaria
...,...,...,...,...,...,...,...,...,...
995,2024-05-21 12:44:45,996,tie_silencer,empire,4,8,5,2,Stewjon
996,2024-05-21 12:44:44,997,stormtrooper,resistance,6,7,8,8,Kashyyyk
997,2024-05-21 12:44:43,998,tie_fighter,resistance,2,8,3,6,Zolan
998,2024-05-21 12:44:42,999,at-st,resistance,5,6,5,5,Troiken
999,2024-05-21 12:44:41,1000,unknown,empire,6,4,9,9,Skako